@CHARSET "ISO-8859-1";

#bodyMain{
	background : black;
}
#containerMainLogo{
	text-align  : center;
	margin-top : 10%;
}
.width10{
	width : 10%;
}
.name{
	color : white;
}
#enhancedText{
	width : 80%;
	background-image : url('../media/image/lupa.png');
	background-repeat: no-repeat;
	background-position: right;
}
#caixaBusca{
	text-align : center;
	margin-left : 20%;
}
#rodape{
	margin-top : 29%;
	color : white;
	text-align : center;
}
#cadastro > form input[type=text]{
	width : 10%;
}
label{
	color : white;
}
#cadastro{
	margin-left : 20%;
	margin-top : 5%;
}
#resultado{
	margin-top : 2%;
}
.redonda{
	border-radius : 10px;
	margin : 10px;
}
.redonda:hover{
	box-shaddow : orange 10px 10px 10px;
	box-shadow: orange 10px 10px 9px;
	cursor : pointer;
}
#resultado{
	text-align : center;
	opacity: 0.3;
}
#lista{
	list-style  : none;
}
.whiteBoxContent{
	background : white;
	width : 70%;
	margin-top : 5px;
	background-image : url('../media/image/search.png');
	background-repeat : no-repeat;
	background-position: left;
	border-radius : 10px;
	text-align : center;
}

#lista > li{
	display : visible;
}

